* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #24223a;
  display: flex;
  justify-content: center;
  position: relative;
}
.nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}
.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  /* border: 1px solid white; */
  width: 5vh;
  height: 5vh;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger > .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  /* border: 1px solid white; */
  width: 5vh;
  height: 5vh;

  display: none;

  justify-content: center;
  align-items: center;

  border-radius: 5px;
  cursor: pointer;

  text-decoration: none;
}
.close > h1 {
  font-size: xx-large;
}

.nav-container .nav-tab {
  display: flex;
  list-style: none;
}
.nav-tab > li {
  margin: 5px 20px;
}
.nav-menu {
  text-decoration: none;
  position: relative;
}
.nav-menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  background-color: #5fabcc;
  width: 0%;
  transition: width 0.5s;
}
.nav-menu:hover::after {
  width: 100%;
}
.nav-menu:hover {
  color: #5fabcc;
}
.logo {
  color: #5fabcc;
  font-size: xx-large;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 800px) {
  .hamburger {
    display: flex;
  }
  .close.active {
    display: flex;
  }
  .hamburger.active {
    display: none;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
  }

  .nav-container .nav-tab {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: #24223a;
  }
  .nav-container .nav-tab.active {
    display: flex;
  }
}
